body {
  background-color: lightcoral;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.demo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.demo div {
    background-color: white;
    border-radius: 5px;
    color: #333;
    padding: 1rem;
}
